 <div id="menu">
            <div id="navicons">
                <ul>
                    <li><a id="subscribe" href="{% url feed %}" title="">Subscribe</a></li>
                    <li><a id="twitter" href="" title="">Twitter</a></li>
                    <li><a id="facebook" href="" title="">Facebook</a></li>
                </ul>
            </div>
            <div id="cats">
                <ul>
                    <li><a href="/" title="" class="active">Home</a></li>
                    <li><a href="#" rel="toggle[categories]" title="">Categories</a></li>
                    <li class="page_item page-item-2"><a href="/about/" title="About">About</a></li>
                </ul>
            </div>
        </div>
        <div id="categories">
            <ul class="mcol2">
                {% for item in CATEGORIES %}
                    <li class="cat-item cat-item-3"><a href="{% url category item.slug %}" title="{{ itme.title }}">{{ item.title }} <span>{{ item.items }}</span></a>
                    </li>
                {% endfor %}
                 
            </ul>
        </div>