{% extends "base.html" %}
{% load i18n thumbnail %}
{% block content %}
  <style type="text/css">
    #galleria{height:500px}
  </style>


            <div id="main">
                            <div class="entry">
          <div id="galleria">
            {% for image in images %}
                      <a {% thumbnail image.image "1200x800" crop="left" as im %} href="{{im.url}}"{% endthumbnail %}>
                <img data-title="Locomotives Roundhouse"
                     data-description="Steam locomotives of the Chicago &amp; North Western Railway."
                     {% thumbnail image.image "100x100" crop="center" as im %}src="{{im.url}}"{% endthumbnail %}>
            </a>
            {% endfor %}
          </div>
                <div class="article" id="post-95">
                  <br>
                  <h1>{{ item.title }}</h1>
                  <br>
                    <p>{{ item.description }}</p>
                    <div class="postmetadata"><span>Tagged in:</span> <a href="{% url category item.category.slug %}" rel="tag">{{ item.category.slug }}</a><br>
                    </div>
                </div>
                <div id="comments">
                    ﻿

                </div>
                                    </div>         
            </div>
            <script type="text/javascript">
                  Galleria.loadTheme('/static/js/classic/galleria.classic.js');
                  Galleria.run('#galleria');
            </script> 
{% endblock content %}