{% extends "base.html" %} {% load thumbnail i18n %}


{% block content %}
    <ul class="mcol">
                    {% for item in items %}
                <li  data-link="{% url details item.category.slug item.slug %}" class="article" data-link id="post-95">

                    <div class="preview"><a href="{% url details item.category.slug item.slug %}"><img width="305" height="380" {% thumbnail item.top_image "305x380" crop="center" as im %}src="{{im.url}}"{% endthumbnail %} class="attachment-background wp-post-image" alt="{{ item.title }}" title="{{ item.title }}" /></a></div>

                         <div class="article-over">
                      <h2><a href="{% url details item.category.slug item.slug %}" title="{{ item.title }}">{{ item.title }}</a></h2>
                      <p>{{ item.description|safe|truncatewords_html:"40" }}</p>
                      <div class="postmetadata">
                          Posted: {{ item.pub_date|date:"F d, Y" }}&nbsp;&#721;&nbsp;<br>
                          Filled under:  <a href="{% url category item.category.slug %}" title="{{ item.category.title }}" rel="category">{{ item.category.title }}</a>                      </div>
                    </div>
                </li>  

                    {% endfor %}                
    </ul>

{% endblock content %}
